<section id="Cv" class="curriculum" [ngClass]="{'dark-mode': isDarkMode()}">
  <!-- --HABILIDADES-- -->

  <div class="contenido-seccion">
    <!-- <h2>Curriculum</h2> -->
    <div class="fila">
      <div class="col izquierda">
        <h3>Educación</h3>
        <div class="item izq">
          <h4>Ingenieria de Software</h4>
          <span class="casa">Universidad UNAPEC</span>
          <!-- <span class="fecha">2005 - 2008</span> -->
          <p>Habilidades técnicas sólidas, capacidad de resolver problemas de manera creativa, trabajar en equipo y adaptarse a nuevos
          desafíos. Son expertos en escribir código eficiente, diseñar arquitecturas de software robustas y mantener altos
          estándares de calidad. Su capacidad para aprender y adaptarse a nuevas tecnologías les permite mantenerse al día en un
          campo en constante evolución, mientras operan con integridad y ética en todas sus actividades profesionales.
          </p>
          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
        <div class="item izq">
          <h4>Responsive Web Design</h4>
          <span class="casa">UNAPEC & FreeCodeCamp</span>
          <!-- <span class="fecha">2005 - 2008</span> -->
          <p>Fundamentos y las mejores prácticas para diseñar y desarrollar sitios web que se adapten y respondan de manera efectiva
          a diferentes dispositivos y tamaños de pantalla.
          </p>
          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
        <div class="item izq">
          <h4>Bases de datos</h4>
          <span class="casa">UNAPEC & Microsoft Learn</span>
          <!-- <span class="fecha">2005 - 2008</span> -->
          <p>Modelado de datos, la creación de esquemas de base de datos, el diseño de consultas SQL, la optimización del rendimiento
          de la base de datos y la administración de bases de datos en entornos locales y en la nube utilizando servicios como
          Microsoft SQL Server, Azure SQL Database, Azure Cosmos DB y más.
          </p>

          <div class="conectori">
            <div class="circuloi"></div>
          </div>
        </div>
      </div>

      <div class="col derecha">
        <h3>Experiencia</h3>
        <div class="item der">
          <h4>Base de datos</h4>
          <span class="casa">Modelado de base de datos</span>
          <span class="fecha">SQL Server Management Studio</span>
          <p>Diseño de una base de datos para un sistema de gestión de biblioteca, tienda en línea, sistema de gestión
            de inventario,
            etc.
            <br>
            Optimización de consultas SQL para mejorar el rendimiento de las operaciones en la base de datos.
            <br>
            Implementación de consultas SQL para realizar operaciones de búsqueda, inserción, actualización y
            eliminación de datos.
            <br>
            Diseño e implementación de procedimientos almacenados, funciones y disparadores para automatizar ciertas
            tareas en la base de datos.
          </p>
          <div class="conectord">
            <div class="circulod"></div>
          </div>
        </div>
        <div class="item der">
          <h4>Programacion web</h4>
          <span class="casa">Diseño de sitios web</span>
          <span class="fecha">Nodejs y framework</span>
          <p>Desarrollo de un sitio web estático utilizando HTML, CSS y JavaScript para mostrar información, maquetados,
            etc.
            <br>
            Desarrollo de una aplicación web dinámica utilizando framework (Node.js), React, Angular, vue. etc,
            con una base de datos para almacenar y recuperar datos.
          </p>
          <div class="conectord">
            <div class="circulod"></div>
          </div>
        </div>
        <div class="item der">
          <h4>proyectos WPF, MVC</h4>
          <span class="casa">MVC & Windows Forms</span>
          <span class="fecha">C#, C++, ASP.NET, Visual Basic</span>
          <p>Sistema de Gestión de Tareas
            <br>
            Blog Personal
            <br>
            Sistema de Gestión de Empleados
            <br>
            Tienda en Línea
            <br>
            Aplicación de Administración de Proyectos
          </p>
          <div class="conectord">
            <div class="circulod"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--/////////////////-->
</section>
