<section id="skills" [ngClass]="{'dark-mode': isDarkMode()}">
  <!--////////////////////////////-->
  <div class="containerS">
    <h1>skills</h1>
    <div class="row">
      <div class="skills">
        <i class="fa-brands fa-html5"></i>
        <h2>HTML</h2>
        <p>HyperText Markup Language, estándar utilizado para crear y estructurar páginas web y aplicaciones en la
        web.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-css3-alt"></i>
        <h2>CSS</h2>
        <p>Cascading Style Sheets, es un lenguaje utilizado para definir el estilo y la presentación de documentos HTML.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-node-js"></i>
        <h2>NodeJs</h2>
        <p>Entorno de tiempo de ejecución de JavaScript de código abierto que permite ejecutar código JavaScript en el lado del
        servidor.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-angular"></i>
        <h2>Angular</h2>
        <p>Framework de desarrollo de aplicaciones web de código abierto y basado en TypeScript, mantenido por Google.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-react"></i>
        <h2>React</h2>
        <p>Biblioteca de JavaScript de código abierto que se utiliza para construir interfaces de usuario (UI) interactivas y
        dinámicas para aplicaciones web y móviles.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-vuejs"></i>
        <h2>Vue</h2>
        <p>Framework progresivo de JavaScript utilizado para construir interfaces de usuario interactivas y sofisticadas para
        aplicaciones web de una sola página (SPA).</p>
      </div>
      <div class="skills">
        <i><i class="fa-brands fa-php"></i></i>
        <h2>PHP</h2>
        <p>Es un lenguaje de programación de código abierto especialmente diseñado para el desarrollo web.</p>
      </div>
      <div class="skills">
        <i><i class="fa-solid fa-database"></i></i>
        <h2>SQL</h2>
        <p>Structured Query Language, es un lenguaje de programación utilizado para administrar y manipular bases de datos
        relacionales.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-windows"></i>
        <h2>AZURE</h2>
        <p>Plataforma de servicios en la nube desarrollada por Microsoft que ofrece una amplia gama de servicios y herramientas
        para desarrollar, implementar y administrar.</p>
      </div>
      <div class="skills">
        <i class="fa-solid fa-fire"></i>
        <h2>firebase</h2>
        <p>Plataforma de desarrollo de aplicaciones móviles y web desarrollada por Google que ofrece una amplia gama de servicios.</p>
      </div>
    </div>
  </div>
  <!--////////////////////////////-->
</section>
