
#skills {
  padding: 0;
  margin: 0;

  /* margin-top: 25%; */
}

.containerS {
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0 8%;

}

.containerS h1 {
  text-align: center;
  /* padding-top: 5%; */
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;

  visibility: hidden;
}

.containerS h1::after {
  content: '';
  /* background: #36b3ff;
  width: 100px;
  height: 5px; */
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.skills {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
  transition: transform 0.5s,
    background 0.5s;
}

.skills i {
  font-size: 40px;
  margin-bottom: 10px;
  color: #303ef7;
}

/*----COLORS----*/
.skills:nth-child(1) i {
  color: #f06529;
  /*HTML*/
}

.skills:nth-child(2) i {
  color: #2965f1;
  /*CSS*/
}

.skills:nth-child(3) i {
  color: #68a063;
  /*NodeJs*/
}

.skills:nth-child(4) i {
  color: #a6120d;
  /*Angular*/
}

.skills:nth-child(5) i {
  color: #61DBFB;
  /*React*/
}

.skills:nth-child(6) i {
  color: #34495E;
  /*Vue*/

}

.skills:nth-child(10) i {
  color: #FFCA28;
  /*firebase*/
}

/*---------------------------*/
.skills h2 {
  font-weight: 600;
  margin-bottom: 8px;

  font-size: 1.2em;
}

.skills:hover {
  background: #36b3ff;
  color: #fff;
  transform: scale(1.05);
}

.skills:hover i {
  color: #fff;
}
/*=============== RESPONSIVE ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
}

/* For medium devices */
@media screen and (min-width: 768px) {

}

/* For large devices */
@media screen and (min-width: 1120px) {
  section {
      overflow: auto;
    }

}

/*-----------------*/
@media screen and (max-width: 600px) {
  section {
      overflow: auto;
    }
    .containerS {
    width: 100%;
    height: 100vh;
    padding: 0 1%;

  }

  .containerS h1 {
    text-align: center;
    padding-top: 0;
    margin-bottom: 0;
    font-weight: 600;

    visibility: hidden;
  }

  .containerS h1::after {
    content: '';
    /* background: #36b3ff;
    width: 100px;
    height: 5px; */
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
  }

  .skills {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 10px;
  }

  .skills i {
    font-size: 20px;
    margin-bottom: 5px;
    color: #303ef7;
  }

}
