<section id="skills" [ngClass]="{'dark-mode': isDarkMode()}">
  <!--////////////////////////////-->
  <div class="containerS">
    <h1>skills</h1>
    <div class="row">
      <div class="skills">
        <i class="fa-brands fa-html5"></i>
        <h2>HTML</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-css3-alt"></i>
        <h2>CSS</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-node-js"></i>
        <h2>NodeJs</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-angular"></i>
        <h2>Angular</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-react"></i>
        <h2>React</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-vuejs"></i>
        <h2>Vue</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i><i class="fa-brands fa-php"></i></i>
        <h2>PHP</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i><i class="fa-solid fa-database"></i></i>
        <h2>SQL</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-brands fa-windows"></i>
        <h2>AZURE</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
      <div class="skills">
        <i class="fa-solid fa-fire"></i>
        <h2>firebase</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, eos.</p>
      </div>
    </div>
  </div>
  <!--////////////////////////////-->
</section>
