<!--HOME-->
<section id="home" class="sec" [ngClass]="{'dark-mode': isDarkMode()}">
  <!--animacion de fondo-->
  <div class="bg">
    <div class="bubbles">
      <span style="--i:11;"></span>
      <span style="--i:12;"></span>
      <span style="--i:24;"></span>
      <span style="--i:10;"></span>
      <span style="--i:14;"></span>
      <span style="--i:23;"></span>
      <span style="--i:18;"></span>
      <span style="--i:16;"></span>
      <span style="--i:19;"></span>
      <span style="--i:20;"></span>
      <span style="--i:22;"></span>
      <span style="--i:25;"></span>
      <span style="--i:18;"></span>
      <span style="--i:21;"></span>
      <span style="--i:13;"></span>
      <span style="--i:15;"></span>
      <span style="--i:26;"></span>
      <span style="--i:17;"></span>
      <span style="--i:13;"></span>
      <span style="--i:28;"></span>
      <span style="--i:11;"></span>
      <span style="--i:12;"></span>
      <span style="--i:24;"></span>
      <span style="--i:10;"></span>
      <span style="--i:14;"></span>
      <span style="--i:23;"></span>
      <span style="--i:18;"></span>
      <span style="--i:16;"></span>
      <span style="--i:19;"></span>
      <span style="--i:20;"></span>
      <span style="--i:22;"></span>
      <span style="--i:25;"></span>
      <span style="--i:18;"></span>
      <span style="--i:21;"></span>
      <span style="--i:13;"></span>
      <span style="--i:15;"></span>
      <span style="--i:26;"></span>
      <span style="--i:17;"></span>
      <span style="--i:13;"></span>
      <span style="--i:28;"></span>
    </div>
  </div>
  <!---->
  <div class="card" [ngClass]="{'active': isActive}" >
    <div class="content">
      <div class="imgBx">
        <img src="../../../assets/img/user.jpg" alt="">
      </div>
      <h2>Jose Luis <br><span>software engineer</span></h2>
    </div>
    <ul class="navigation">
      <li>
        <a href="https://www.linkedin.com/in/jose-luis-isabel-matos-a03840238/" target="_blank">
          <!-- <ion-icon name="logo-linkedin"></ion-icon> -->
          <i class="fa-brands fa-linkedin"></i>
          linkedin
        </a>
      </li>
      <li>
        <a href="https://github.com/JrJoseLs" target="_blank">
          <!-- <ion-icon name="logo-github"></ion-icon> -->
          <i class="fa-brands fa-github"></i>
          Github
        </a>
      </li>
      <li>
        <a href="mailto:junior_er@hotmail.es" target="_blank">
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
          <i class="fa-solid fa-envelope"></i>
          Email
        </a>
      </li>
      <li>
        <a href="https://api.whatsapp.com/send/?phone=8093603722&text&type=phone_number&app_absent=0" target="_blank">
          <!-- <ion-icon name="logo-whatsapp"></ion-icon> -->
          <i class="fa-brands fa-whatsapp"></i>
          Whatsapp
        </a>
      </li>
      <li>
        <a href="#Cv">
          <!-- <ion-icon name="help-circle-outline"></ion-icon> -->
          <i class="fa-solid fa-question"></i>
          About
        </a>
      </li>

    </ul>
    <div class="toggle" (click)="toggleCard()">
      <!-- <ion-icon name="chevron-down-outline"></ion-icon> -->
      <i class="fa-solid fa-chevron-down"></i>
    </div>
    <!---->
  </div>

  <!---->
  <div class="section">
    <div id="sobre-mi" class="sobre-mi">
      <div class="contenedorS">
        <h2><span>Conoce a </span> Jose Luis</h2>
        <p class="seccion-texto">Emocionado por contribuir en el mundo del desarrollo de software. Con una formación en
          ingeniería de software y una pasión por la tecnología, experiencia en el desarrollo de aplicaciones web y
          móviles.
          Conceptos fundamentales como estructuras de datos, algoritmos, ciberseguridad y diseño de software.
        </p>
        <div class="buttoms">
          <a href="#footer">About</a>
          <a href="https://drive.google.com/file/d/1Dz9eCkE8G1VdLvJK_I2iVbxSjRjqtVcP/view?usp=drive_link" target="_blank">Resume</a>
        </div>
      </div>
    </div>



