<section class="footer" id="footer" [ngClass]="{'dark-mode': isDarkMode()}">
  <footer>
    <div class="container">
      <div class="sec abouts">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque temporibus tempora eum tenetur esse.
          Dolorum facere fugiat consequatur reprehenderit commodi, eligendi cupiditate delectus asperiores, saepe
          animi ex numquam! Illo, veritatis!</p>
        <ul class="sci">
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>Support</h2>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>Shop</h2>
        <ul>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><a href="#">Kids</a></li>
          <li><a href="#">Shoes</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact Us</h2>
        <ul class="info">
          <li>
            <span><i class="fa-solid fa-phone"></i></span>
            <p><a href="tel:+12345678900"></a>+1 234 567 8900</p>
          </li>
          <li>
            <span><i class="fa-solid fa-envelope"></i></span>
            <p><a href="mailto:fulanito@gmail.com"></a>fulanito@gmail.com</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyrightText">
      <p>Copyght © 2023 Fulano de tal. All Rights Reserved</p>
    </div>
  </footer>

</section>
