<section class="footer" id="footer" [ngClass]="{'dark-mode': isDarkMode()}">
  <footer>
    <div class="container">
      <div class="sec abouts">
        <h2>About</h2>
        <p>Mi objetivo es seguir creciendo como profesional en el campo de la ingeniería en software, contribuyendo con mi pasión,
        conocimientos y habilidades para crear soluciones tecnológicas que impulsen el progreso</p>
        <ul class="sci">
          <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>Support</h2>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>More</h2>
        <ul>
          <li><a href="https://creaccionprint.com/" target="_blank">Tienda de sublemacion</a></li>
          <li><a href="https://www.etsy.com/es/shop/CRSSPAIN?ref=l2-about-shopname&page=1#items" target="_blank">Joyeria</a></li>
          <li><a href="https://drive.google.com/file/d/1CIZc6znBh39TlqNQE7_72Jddl2OMrW3e/view?usp=drive_link" target="_blank">Resume</a></li>
          <!-- <li><a href="#">Shoes</a></li> -->
        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact</h2>
        <ul class="info">
          <li>
            <span><i class="fa-solid fa-phone"></i></span>
            <p><a href="tel:+1 8093603722"></a>809 360 3722</p>
          </li>
          <li>
            <span><i class="fa-solid fa-envelope"></i></span>
            <p><a href="mailto:junior_er@hotmail.es"></a>junior_er@hotmail.es</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyrightText">
      <p>Copyright © JL. SOFTWARE ENGINEER</p>
    </div>
  </footer>

</section>
