<section id="projects" class="Proyectos" [ngClass]="{'dark-mode': isDarkMode()}">

  <!--//////////////////////////////////////////////-->
  <div class="container">
    <!-- <h1>Proyectos</h1> -->
    <div class="card__container">
      <article class="card__article">
        <img src="../../../assets/img/shopping.png" alt="image" class="card__img">

        <div class="card__data">
          <span class="card__description">Html Css javaScript</span>
          <h2 class="card__title">Shopping</h2>
          <a href="https://pro-tos.000webhostapp.com/Shopping%20Cart/index.html" class="card__button"
            target="_blank">See Demo</a>
        </div>
      </article>

      <article class="card__article">
        <img src="../../../assets/img/sysChat.jpg" alt="image" class="card__img">

        <div class="card__data">
          <span class="card__description">Html/Css/Js - Php & MySQL</span>
          <h2 class="card__title">Chat</h2>
          <a href="https://pro-tos.000webhostapp.com/syschat/login.php" class="card__button" target="_blank">See
            Demo</a>
        </div>
      </article>

      <article class="card__article">
        <img src="../../../assets/img/projectList.png" alt="image" class="card__img">

        <div class="card__data">
          <span class="card__description">Html Css javaScript</span>
          <h2 class="card__title">Project List</h2>
          <a href="https://pro-tos.000webhostapp.com/Proyect%20Rank" class="card__button" target="_blank">Read More</a>
        </div>
      </article>


    </div>
  </div>
  <!--//////////////////////////////////////////////-->

</section>
