<div class="sidebar" [ngClass]="{'dark-mode': isDarkMode()}">
  <ul>
    <li class="logo">
      <a href="">
        <span class="icon">
          <!-- <ion-icon name="briefcase-outline"></ion-icon></ion-icon> -->
          <i class="fa-solid fa-briefcase"></i>
        </span>
        <span class="text">Portafolio</span>
      </a>
    </li>
    <li>
      <a href="#home">
        <span class="icon">
          <!-- <ion-icon name="home-outline"></ion-icon> -->
          <i class="fa-solid fa-house"></i>
        </span>
        <span class="text">Home</span>
      </a>
    </li>
    <li>
      <a href="#projects">
        <span class="icon">
          <!-- <ion-icon name="code-outline"></ion-icon> -->
          <i class="fa-solid fa-code"></i>
        </span>
        <span class="text">Projects</span>
      </a>
    </li>
    <li>
      <a href="#Cv">
        <span class="icon">
          <!-- <ion-icon name="file-tray-full-outline"></ion-icon> -->
          <i class="fa-regular fa-file"></i>
        </span>
        <span class="text">Resume</span>
      </a>
    </li>
    <li>
      <a href="#skills">
        <span class="icon">
          <!-- <ion-icon name="analytics-outline"></ion-icon></ion-icon> -->
          <i class="fa-solid fa-chart-line"></i>
        </span>
        <span class="text">Skills</span>
      </a>
    </li>
    <!-- <li>
                <a href="#">
                    <span class="icon"><ion-icon name="chatbubble-outline"></ion-icon></span>
                    <span class="text">Contact</span>
                </a>
            </li> -->
    <li>
      <a href="#footer">
        <span class="icon">
          <!-- <ion-icon name="help-circle-outline"></ion-icon> -->
          <i class="fa-solid fa-circle-question"></i>
        </span>
        <span class="text">Footer</span>
      </a>
    </li>
    <div class="bottom">
      <!-- <li>
                    <a href="">
                        <span class="icon">
                            <div class="imgBx">
                                <img src="images/img4.jpg" alt="">
                            </div>
                        </span>
                        <span class="text">Mr Madara</span>
                    </a>
                </li> -->
      <li class="darkMode">
        <a (click)="toggleDarkMode()">
          <span class="icon">
            <i class="fa-solid fa-circle-half-stroke"></i>
          </span>
          <span class="text">Mode</span>
        </a>
        <!-- sidebar.component.html -->
        <!-- <a (click)="toggleDarkMode()">Cambiar tema</a> -->

      </li>
    </div>
  </ul>
</div>
